@import '../../../../../styles/branding'
    
button.mobile-menu-btn
    margin-right: 1rem
    svg
        font-size: 3rem

.css-1160xiw-MuiPaper-root-MuiDrawer-paper, .css-1ab2xsx
    background: transparentize($black, .1) !important

.css-10hburv-MuiTypography-root
    font-size: 2rem
