@import './Landing/HomeLanding'
@import './Landing/Desktop/DesktopHomeLanding'
@import './Landing/Mobile/MobileHomeLanding'
@import './Banner/Banner'




section.cma-calendar-sect
    display: flex
    flex-wrap: wrap
    h1.cma-schedule-header
        flex-basis: 100%
        text-align: center
        font-size: 2.5rem
        margin: 2rem 0rem