@import '../../../../styles/vars'
@import './EventCards/EventCard'
    
div.calendar-wrapper
    display: flex
    justify-content: center
    align-items: center
    flex-direction: column
    width: 100%
    max-width: 102.4rem
    @media screen and (min-width: 800px)//tablets
        flex-direction: row


div.cma-calendar-box
    display: flex
    width: 100%
    border-radius: .5rem
    @media screen and (min-width: 800px)//tablets
        width: 50%
        margin: 1rem
    

div.calendar
    display: flex
    width: 100%
    flex-wrap: wrap
    div.cell
        flex: 1
        text-align: center
        font-size: 1.5rem 
        // padding: .5rem
        margin: 1rem 
    div.month
        flex-basis: 100%
        display: flex
        justify-content: center
        h1
            font-size: 2rem
            color: #fffff !important
            margin: 1rem 0

    div.weekdays
        flex-basis: 100%
        display: flex

    div.dates
        width: 100%
        div.row
            display: flex
    
div.cell
    display: flex
    justify-content: center
    align-items: center
    button.selected
        display: flex
        justify-content: center
        align-items: center
        font-size: 1.3rem
        width: 3rem
        height: 3rem
        background-color: $awesome 
        border-radius: 100%


div.cma-event-cards
    display: flex
    flex: 1 1
    flex-wrap: wrap
    width: 100%
    justify-content: space-around
    @media screen and (min-width: 768px)//tablets
        width: 95%