div.cma-calendar-box
    display: flex
    width: 95%
    border-radius: .5rem

div.calendar
    display: flex
    width: 100%
    flex-wrap: wrap
    div.cell
        flex: 1
        text-align: center
        font-size: 1.5rem 
        // padding: .5rem
        margin: 1rem 
    div.month
        flex-basis: 100%
        display: flex
        justify-content: center
        h1
            font-size: 2rem
            margin: 1rem 0
    div.weekdays
        flex-basis: 100%
        display: flex

    div.dates
        width: 100%
        div.row
            display: flex
            
            


