div.cma-banner-wrapper
    width: 100vw
    height: 20vh
    // margin: auto


div.cma-banner
    display: flex
    justify-content: center
    align-items: center
    text-align: center
    height: 100%
    flex-direction: column
    padding: 0 2rem

h2.cma-banner-txt-1, h2.cma-banner-txt-2
    font-size: 1.5rem
    @media screen and (min-width: 768px)//tablets
        font-size: 2rem
