footer.cma-footer
    min-height: 20vh
    display: flex
    justify-content: center
    padding: .5rem
div.cma-footer-wrapper
    max-width: 1440px
    width: 100%
    display: flex
    justify-content: space-evenly
    flex-wrap: wrap
    padding: 2rem 0

div.long-footer-box
    flex-basis: 100%
    text-align: center
    padding: 2rem 0
    h3.footer-tagline
        // margin-bottom: 2rem
        padding: 2rem


div.footer-social
    display: flex
    flex-wrap: wrap
    justify-content: center

div.footer-box
    flex-basis: 48%
    padding: 1rem 0
    display: flex
    flex-direction: column
    align-items: center
    h1, h3
        text-align: center
    @media screen and (min-width: 800px)//tablets
        flex-basis: 25%

h1.footer-header
    font-size: 1.7rem
h1.footer-sub-header
    font-size: 1.3rem

h3, a
    font-size: 1rem

div.social-box
    display: flex
    padding: 1rem 3rem
    .social-icon
        padding-right: .3rem