footer.cma-footer
    min-height: 20vh
    display: flex
    justify-content: center
div.cma-footer-wrapper
    max-width: 1440px
    width: 100%
    display: flex
    justify-content: space-around
    flex-wrap: wrap



div.insta-box
    display: flex
    align-items: center
    .insta-icon
        padding-right: .5rem