section.cma-services
    display: flex
    flex-direction: column
    align-items: center

div.cma-service-summary
    display: flex
    flex-direction: column
    align-items: center
    width: 85%
    margin: 4rem 0
    h1.cma-service-headline
        font-size: 2.5rem
        padding-bottom: 1.5rem
        text-align: center

    h3.cma-service-tagline
        font-size: 1.5rem
        text-align: center