@import '../src/components/components'
@import './vars'    

a,li,div,,p,h1,h2,h3,h4,h5,span
    color: $white
    font-weight: 200
    
span
    color: $awesome
    font-size: inherit
    letter-spacing: inherit
    font-weight: inherit

button.blk-bg
    background-color: $black
    color: $white
    padding: 1rem
    a
        color: $white
button.blk-bg:hover, .css-1e6y48t-MuiButtonBase-root-MuiButton-root:hover
    background-color: rgba(204, 17, 0, 0.25) !important
    a
        color: $white

.css-1e6y48t-MuiButtonBase-root-MuiButton-root:hover
    background-color: rgba(204, 17, 0, 0.25) !important
    color: $white !important
    a
        color: $white !important

.header
    font-family: $black-ops !important

button.yt-bg
    background-color: $white
    color: $black
    a
        color: $black
button.yt-bg:hover, .css-1e6y48t-MuiButtonBase-root-MuiButton-root:hover
    background-color: rgba(204, 17, 0, 0.25) !important
    a
        color: $white

.blk-bg
    background-color: $black

.grey-bg
    background-color: $grey


section.cma-landing-wrapper
  height: 90vh
  min-height: 40rem

section.section-wrapper
  width: 100vw
  display: flex
  justify-content: center


///General Styles
*
    padding: 0
    margin: 0
    font-size: 62.5%
    // font-family: $hammersmith, sans-serif !important
    font-family: $tweb, sans-serif !important
    letter-spacing: .15rem

html, body
    scroll-behavior: smooth
    overflow-x: hidden
    background-color: $grey

a, button
    text-decoration: none !important
    text-transform: none !important

button
    border-radius: .5rem !important
    border: none
    width: 100%
    height: 100%
    



//scroll bar styles
body::-webkit-scrollbar 
  width: 1em
body::-webkit-scrollbar-track 
  box-shadow: inset 0 0 .6rem rgba($grey, 95%)
body::-webkit-scrollbar-thumb 
  background-color: lighten($grey, 30%)
  border-radius: 2rem

