//Color Scheme
$white: #ffffff
$black: #000000
$grey: #333333
$awesome: 

a,li,div,,p,h1,h2,h3,h4,h5,span
    color: $white
    font-weight: 200
    
span
    color: $awesome
    font-size: inherit
    letter-spacing: inherit
    font-weight: inherit

button.blk-bg
    background-color: $black
    color: $white
    padding: 1rem
    a
        color: $white
button.blk-bg:hover, .css-1e6y48t-MuiButtonBase-root-MuiButton-root:hover
    background-color: rgba(204, 17, 0, 0.25) !important
    a
        color: $white

.css-1e6y48t-MuiButtonBase-root-MuiButton-root:hover
    background-color: rgba(204, 17, 0, 0.25) !important
    color: $white !important
    a
        color: $white !important

.header
    font-family: 'Black Ops One' !important

button.yt-bg
    background-color: $white
    color: $black
    a
        color: $black
button.yt-bg:hover, .css-1e6y48t-MuiButtonBase-root-MuiButton-root:hover
    background-color: rgba(204, 17, 0, 0.25) !important
    a
        color: $white

nav
    background-color: $black

.blk-bg
    background-color: $black

.grey-bg
    background-color: $grey


