//Color Scheme
$white: #ffffff
$black: #000000
$grey: #747373
$awesome: #F8234D

a,li,div,,p,h1,h2,h3,h4,h5
    color: $white
span
    color: $awesome

button.blk-bg
    background: $black
    color: $white
button.yt-bg
    background-color: $white
    color: $black

nav
    background-color: $black

.blk-bg
    background-color: $black

.grey-bg
    background-color: $grey
